<%- model_class = Post.new.class -%>
<div class="hero-unit" align="center" style="width: 700px; padding-top: 0px;">
<div class="page-header" style="background-color: #5f9ea0; width: 500px; height: 40px;">
  <h2><%=t '.title', :default => model_class.model_name.human.pluralize %></h2>
</div>

<table class="table table-striped">
  <thead>
    <tr>
     <!-- <th><%= model_class.human_attribute_name(:id) %></th> -->
      <th><span class="label label-info"><%= model_class.human_attribute_name(:title) %></span></th>
      <th><span class="label label-info"><%= model_class.human_attribute_name(:description) %></span></th>

      <!--<th><%=t '.actions', :default => t("helpers.actions") %></th> -->
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <!-- <td><%= link_to post.id, post_path(post) %></td> -->
        <td><%= post.title %></td>
        <td><%= post.description %></td>
        <!-- <td><%=l post.created_at %></td> -->
        <td>
          <div class="btn-group">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
              Action
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Show", showdata_post_post_path(post)%></li>
              <li><%= link_to "Edit",edit_post_post_path(post)%></li>
              <li><%= link_to "Delete",delete_post_post_path(post)%></li>
            </ul>
          </div>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>
  <div align="left">

<%= link_to t('.Add Data', :default => t("helpers.links.Add Data")),
            form_post_posts_path,
            :class => 'btn btn-primary' %></div>

<%= will_paginate  %>
<br />
  </div>